.signUpmainDiv{
    height: auto;
    width: 100%;
    background-color: #202231;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line{
    width: 30%;
    border: 2px solid #08f7b2;
    margin-top: 10px;
}
.SignUpheading{
    color: aliceblue;
    font-family: 'Poppins',sans-serif;
    margin: 0px;
    margin-top: 70px;
    font-size: 50px;
}
@media (max-width:578px){
    .heading{
        font-size: 40px;
    }
}
@media (max-width:470px){
    .heading{
        font-size: 30px;
    }
}
.SignUpFormDiv{
    height: auto;
    width: 550px;
    margin-bottom: 70px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 0px;
}
.radioDiv{
    width: 55%;
    margin-bottom: 15px;
}
.ant-radio-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #08f7b2;
}
.ant-radio-checked .ant-radio-inner {
    border-color: #08f7b2;
}
.ant-form {
    width: 74%;
}